body, html {
    height: 100%;
    margin: 0;
    background-color: #F5F5F5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 50px;
}

header nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    justify-content: center;
    font-size: 18px;
}

header nav a:hover {
    background-color: white;
    color: black;
}
.active {
    background-color: #4CAF50;
    color: white;
}

#header-web-title {
    color: white;
    font-size: 30px;
    margin: 10px;
}

#header-logo {
    width: 20px;
    margin-right: 20px;
}

#hero {
    height: 50%;
    background: url("./../images/concern.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;

}

#hero h1 {
    font-size: 5em;
}

#hero a {
    padding: 20px 40px;
    background-color: white;
    border-radius: 5px;
    color: #4a4a4a;
    border: 1px solid white;
    transition: 1s;
}

#hero a:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.full-width-wrapper, main {
    width: 960px;
    margin: 0 auto;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*.card {
    text-align: left;
    width: 280px;
    min-height: 100px;
    padding: 10px;
    margin: 5px;
}

.card > img {
    height: 100px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4a4a4a;
}

.card > p {
    text-align: justify;
}

.card > a {
    width: 100%;
    background-color: #333;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 1s;
    border: 1px solid rgb(60, 64, 60);
}

.card > a:hover {
    background-color: rgba(204, 208, 204, 0.91);
    color: #333333;
}
*/
footer {
    position: fixed;
    margin-top: 20px;
    min-height:50px;
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #f2f2f2;

}

footer a {
    color: white;
    text-decoration: underline;
}

#footer-newsletter input[type="submit"] {
    width: 100%;
}

.top-space {
    height: 80px;
}

#nav-hamburger-icon {
    display: none;
}

.button {
    text-align: center;
    display: block;
    width: 120px;
    padding: 10px 15px;
    border: 1px solid #4a4a4a;
    background-color: #4a4a4a;
    color: white;
    transition: 1s;
    margin: 10px;
}

.action-button {
    width: 20px;
    text-align: center;
    display: block;
    padding: 5px;
    border: 1px solid #4a4a4a;
    background-color: #4a4a4a;
    color: white;
    transition: 1s;
    margin: 5px;
}


.action-button:hover, .button:hover {
    background-color: white;
    color: black;
}

#login-screen {
    width: 300px;
    margin: auto;
}

.centered-600px {
    width: 600px;
    margin: auto;
}

.article-text {
    padding: 20px;
    margin-top: 20px;
    background-color: #c6c6c6;
    color: white;
}

/*table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}



/* Create two unequal columns that floats next to each other */
.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: block;
    clear: both;
}
/*Taken from W3 school, changes look of buttons*/
input[type=text], select, textarea{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */

}
input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}
input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.div-review-section{
    background-color: #4CAF50;
    color: white;
    font-family: "Times New Roman";
    font-size: 30px;
    text-align: left;
}
.div-comment-name{
    background-color: #c6c6c6;
    color: black;
    font-family: "Times New Roman";
    text-align: left;
    font-size: 16px;
    //border-bottom-color: aqua;
    border: 10px aqua;
    border-bottom-width: 2px;


}
.div-comment-date{
    background-color: #c6c6c6;
    color: black;
    font-family: "Times New Roman";
    text-align: right;
    font-size: 16px;
}

.one {
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 5px;
}

.two {
    border-style: solid;
    border-width: medium;
}

.three {
    border-style: solid;
    border-width: 2px 10px 4px 20px;
   border-color: #f2f2f2;
}

/*input[type=submit]:hover {
    background-color: #45a049;
}*/
@media print {
    header,footer,input[type=submit],select,label{
        display: none;
    }
    h1,a{
        color: black;
    }

}